@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input_area {
  @apply focus:outline-none appearance-none ring-2 px-3 py-1 ring-gray-200 rounded-xl focus:ring-accent hover:ring-accent;
}

@layer components {
  * {
    @apply transition duration-300 ease-out;
  }
}
